<div class="categories">
  <div class="container">
    <h1 class="text-center title">Tenha o poder da <strong>“barganha”</strong> nas mãos</h1>
    <a href="#" class="category-button">
      <figure class="image">
        <img src="/assets/cotton.png">
      </figure>
      <p>Algodão</p>
    </a>
    <a href="#" class="category-button">
      <figure class="image">
        <img src="/assets/soy.png">
      </figure>
      <p>Soja</p>
    </a>
    <a href="#" class="category-button">
      <figure class="image">
        <img src="/assets/corn.png">
      </figure>
      <p>Milho</p>
    </a>
  </div>
</div>
