<div class="hero">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="logo text-center">
            <a href="/">
              <img src="/assets/logo.png" alt="Agri Trade">
            </a>
          </div>
          <div class="info text-center">
            <h2 class="info-label">PRODUTOR, ENCONTRE <STRONG>HISTÓRICO</STRONG><br> DE INSUMOS DA SUA CIDADE.</h2>
          </div>
          <form action="" class="form">
            <div class="search-input-container">
              <input type="search" class="search-input large" placeholder="Procure por defensivos, fertilizantes ou sementes" />
              <button type="submit" class="search-button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
          <div class="info text-center">
            <p class="info-extra">Sua privacidade é nossa preocupação. Temos o compromisso de preservá-la.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
