@font-face {
  font-family: 'verbXcondLight';
  src: url('/assets/verbexcondlight-webfont.eot');
  src: url('/assets/verbexcondlight-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/verbexcondlight-webfont.woff2') format('woff2'),url('/assets/verbexcondlight-webfont.woff') format('woff'),url('/assets/verbexcondlight-webfont.ttf') format('truetype'),url('/assets/verbexcondlight-webfont.svg#verbexcondlight') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'verbXcondbold';
  src: url('/assets/verbexcondbold-webfont.eot');
  src: url('/assets/verbexcondbold-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/verbexcondbold-webfont.woff2') format('woff2'),url('/assets/verbexcondbold-webfont.woff') format('woff'),url('/assets/verbexcondbold-webfont.ttf') format('truetype'),url('/assets/verbexcondbold-webfont.svg#verbexcondbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
