html,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
optgroup,
select,
textarea {
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 400;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  background-color: #eff1ee;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
