<div class="evaluation-thumbs">
  <div class="row middle-xs thumbs">
    <a href="#" class="col-xs-6 thumb up">
      <i class="icon fa fa-thumbs-up"></i>
      <span class="value">
        <%= (total_up > 0) ? "+#{total_up}" : 0 %>
      </span>
    </a href="#">
    <a href="#" class="col-xs-6 thumb down">
      <i class="icon fa fa-thumbs-down"></i>
      <span class="value">
        <%= (total_down > 0) ? "-#{total_down}" : 0 %>
      </span>
    </a href="#">
  </div>
</div>
