<div class="empty-data">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-6">
        <h1 class="title">Oops... estamos quase lá</h1>
        <p class="reason">Para acessar informações, é necessário <strong>contribuir com nossa plataforma de forma anônima</strong>.</p>
        <div class="icon">
          <img src="/assets/empty.png" width="400">
        </div>
        <a href="#" class="button block">
          <i class="fa fa-upload"></i>
          Inserir Arquivo de Pedido Digitalizado
        </a>
      </div>
    </div>
  </div>
</div>
