<html>
  <body>
    <%= yield %>
    <p>
        Atenciosamente,<br>
        Equipe AgriTrade<br>
        <a href="http://agritrade.codigo5.com.br/">agritrade.codigo5.com.br</a>
    </p>
    <small>(Isto é um e-mail automático. Favor não responder.)</small>
  </body>
</html>
